@model CeleryMisfortune.ViewModel.HomeVMs.LoginVM


@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/jquery.min.js"></script>
  <link rel="stylesheet" href="~/sitecss/logincss.css">
  <title>WTM</title>
</head>

<body class="loginBody">
  <div class="loginDiv">
    <h4>
      <img src="~/images/logo.png" width="80"/>
      <img src="~/images/slogen.png" />
    </h4>
    <form action="/Login/Login" method="post">
    <input type="hidden" name="Redirect" value="@Model.Redirect">
      <ul class="loginForm">
        <li>
          <i><img src="~/images/icon-login04.png" /></i>
          <input type="text" name="ITCode" placeholder="请输入用户名" class="login-input" autocomplete="off" value="@Model.ITCode">
        </li>
        <li>
          <i style="width: 16px;"><img src="~/images/icon-login01.png" /></i>
          <input type="password" name="Password" placeholder="请输入密码" class="login-input" value="@Model.Password">
        </li>
        <li style="text-align:right;vertical-align:text-top">
          <input type="checkbox" name="RememberLogin" value="true" @(Model.RememberLogin?"checked":"")>
          <span style="font-size:14px; margin-left:5px;">记住我</span>
        </li>

        <li>
          <span class="login-error">@Model.MSD.GetFirstError()</span>
          <button type="submit" class="login-button" style="cursor:pointer">登 录</button>
        </li>
      </ul>
    </form>
  </div>


</body>

</html>
